#### 1. Write a Python program to find sum of elements in list?

In [1]:
l1 = [1,2,3,4,5,6,7]
sum = 0
for i in l1:
    sum = int(i)+sum

In [2]:
sum

28

#### Write a Python program to Multiply all numbers in the list?

In [3]:
l2 = [1,2,3,4,5,6,7]
mul = 1
for i in l2:
    mul = i*mul

In [4]:
print(mul)

5040

#### Write a Python program to find smallest number in a list?

In [5]:
l3 = [1,2,3,4,5,6,7]
for i in l2:
    print(min(l3))
    break

1

### Write a Python program to find largest number in a list?

In [6]:
l4 = [2,343,5345,345345,3456346,3456]
for i in l4:
    print(max(l4))
    break

3456346

### Write a Python program to find second largest number in a list?

In [7]:
l5 = [2,343,5345,345345,3456346,3456,2342345]
print(sorted(l5)[-2])

2342345

### Write a Python program to find N largest elements from a list?

In [8]:
def N_largest_number_from_list(b):
    for i in b:
         return max(b)

In [9]:
N_largest_number_from_list(b=[2,343,5345,345345,3456346,3456,2342345])

3456346

### Write a Python program to print even numbers in a list?

In [10]:
l2 = []
def EVEN_NUMBER_LIST(c):
    for i in c:
        if i%2 == 0:
            l2.append(i)
            
    return l2

In [11]:
EVEN_NUMBER_LIST([2,3,4,5,5,5,6,1,22,2,44,6])

[2, 4, 6, 22, 2, 44, 6]

In [12]:
l2

[2, 4, 6, 22, 2, 44, 6]

### Write a Python program to print odd numbers in a List?

In [16]:
l3 = []
def odd_NUMBER_LIST(c):
    for i in c:
        if i%2 != 0:
            l3.append(i)
            
    return l3

In [17]:
odd_NUMBER_LIST([2,3,4,5,5,5,6,1,22,2,44,6])

[3, 5, 5, 5, 1]

### Write a Python program to Remove empty List from List?

In [15]:
remove_empty  = [5,6,7,[],7,[],9,[],10,[]]
print("Original_list is:",remove_empty)
cleaned_list = list(filter(None,remove_empty))
print("list after empty list removal:",str(cleaned_list))

Original_list is: [5, 6, 7, [], 7, [], 9, [], 10, []]
list after empty list removal: [5, 6, 7, 7, 9, 10]

### Write a Python program to Cloning or Copying a list?

In [55]:
copied_list = []
def list_new(a): 
    return copied_list.append(a)

In [56]:
list_new([1,2,3,3,4,5,6,7,8,9,10,11,12,13,14])

In [57]:
copied_list

[[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]]

### Write a Python program to Count occurrences of an element in a list?

In [58]:
def checkOccurence():
    in_list = eval(input('Enter the elements of the list: '))
    in_num = eval(input('Enter the element to find: '))
    count = 0
    if in_num in in_list:
        for ele in in_list:
            if ele == in_num:
                count = count+1
    print(f'There are {count} occurences of {in_num} in {in_list}')
    
checkOccurence()

Enter the elements of the list: 1,23,44,44,5,6,6,7,777,888,10
Enter the element to find: 44
There are 2 occurences of 44 in (1, 23, 44, 44, 5, 6, 6, 7, 777, 888, 10)